preview {
  display: inline-block;
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: hidden;
  display: none;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 20px; }

.preview__node {
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  float: left;
  overflow: hidden;
  cursor: pointer; }

.preview__node_hover {
  display: inline-block;
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }

.preview__node_title {
  white-space: nowrap;
  display: inline-block;
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 17px;
  height: 20px;
  font-weight: bold;
  font-size: 0.9em;
  color: #444;
  line-height: 20px; }

.preview__node_href {
  white-space: nowrap;
  display: inline-block;
  box-sizing: border-box;
  position: absolute;
  padding: 0 20px;
  width: 100%;
  text-align: center;
  bottom: 0;
  font-weight: bold;
  font-size: 0.8em;
  color: #444;
  height: 20px;
  line-height: 20px; }
