* {
  margin: 0;
  padding: 0; }

html {
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
  font-family: Tahoma,sans-serif,Arial,Helvetica;
  background-color: #e7ebf0; }

header {
  display: inline-block;
  box-sizing: border-box;
  position: fixed;
  height: 48px;
  line-height: 48px;
  width: 100%;
  background: #5682a3;
  z-index: 100;
  color: white; }

header_container {
  display: inline-block;
  box-sizing: border-box;
  width: 900px;
  margin-left: 50%;
  transform: translateX(-50%); }

header_button {
  font-weight: bold;
  cursor: pointer;
  display: inline-block;
  box-sizing: border-box;
  padding: 0 20px; }

header_button:hover {
  background-color: #497799; }

header_button.right {
  float: right; }

content {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  position: fixed;
  height: 100%;
  padding-top: 48px;
  left: 0%;
  transition-duration: 300ms;
  transition-property: left;
  transition-timing-function: ease; }

scroll_bar {
  position: fixed;
  height: 100%;
  width: 80px;
  cursor: pointer;
  -o-transition: opacity 100ms linear;
  transition: opacity 100ms linear;
  opacity: 0.4; }
  scroll_bar div {
    height: 28px;
    width: 20px;
    position: absolute;
    background-image: url(../img/controll_icons.png);
    top: 50%; }

scroll_bar:hover {
  background: rgba(0, 0, 0, 0.1);
  opacity: 1; }

.scroll_bar--left {
  left: 0; }
  .scroll_bar--left div {
    left: 20px;
    background-position: 0px -24px; }

.scroll_bar--right {
  right: 0; }
  .scroll_bar--right div {
    right: 20px;
    background-position: 0px -56px; }

slide-box {
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  width: 1100px;
  height: 700px;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  left: 50%;
  padding: 40px; }

.fullscreen {
  background-color: black !important; }

.fullscreen header {
  display: none; }

.fullscreen slide-box {
  padding: 0px; }

.fullscreen content {
  padding-top: 0;
  transition: none; }

.r2 {
  left: 150%;
  transform: translateX(-50%) translateY(-150%); }

.r3 {
  left: 250%;
  transform: translateX(-50%) translateY(-250%); }

slide {
  display: inline-block;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  background-color: white;
  padding: 10px;
  display: block; }
