@import './mixins';

* {
    margin: 0;
    padding: 0;
}

html {
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
    font-family: Tahoma,sans-serif,Arial,Helvetica;
    background-color: $grey;
}

content {
    @include box;
    width: 100%;
    position: fixed;
    height: 100%;
    padding-top: $HeaderH;    
}
content.fullscreen {
    padding-top: 0;
    background-color : black;
}
