@import './mixins';

preview {
    @include box;
    overflow-y : auto;
    overflow-x: hidden;
    display: none;
    position: relative;
    width: 100%;
    height: 100%;  
    padding: 20px;  
}

.preview__node {
    @include box;
    position : relative;
    float : left;
    overflow: hidden;
    cursor : pointer;
}
.preview__node_hover {
    @include box;
    position : absolute;
    width : 100%;
    height: 100%;
    top : 0;
    left : 0;
}
.preview__node:hover .preview__node_hover {
    background-color: rgba(0,0,0,0.05);    
}