* {
    margin: 0;
    padding: 0;
}

$HeaderH : 48px;
$blue :  #5682a3;
$blueH : #497799;
$grey :  #e7ebf0;

@mixin box {
    display: inline-block;
    
    box-sizing: border-box;
}

html {
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
    font-family: Tahoma,sans-serif,Arial,Helvetica;
    background-color: $grey;
}

header {
    @include box;
    position: fixed;
    height: $HeaderH;
    line-height: $HeaderH;
    
    width: 100%;
    background: $blue;
    z-index: 100;
    color: white;
}
header_container {
    @include box;
    width : 900px;
    margin-left : 50%;
    transform: translateX(-50%);
    //max-width : 900px;
}
header_button {
    font-weight: bold;
    cursor : pointer;
    @include box;
    padding :  0 20px;
}
header_button:hover {
    background-color : $blueH; 
}
header_button.right {
    float : right;
}

content {
    @include box;
    width: 100%;
    position: fixed;
    height: 100%;
    padding-top: $HeaderH;
    left : 0%;
    transition-duration: 300ms;
    transition-property: left;
    transition-timing-function: ease;
}
scroll_bar {
    position : fixed;
    height : 100%;
    width : 80px;
    cursor: pointer;
    -o-transition: opacity 100ms linear;
    transition: opacity 100ms linear;
    opacity: 0.4;
    div {
        height: 28px;
        width: 20px;
        position: absolute;
        background-image: url(img/controll_icons.png);
        top : 50%;
    }
}
scroll_bar:hover {
    background :rgba(0,0,0,0.1);
    opacity : 1;
}
.scroll_bar--left {
    left : 0;
    div {
        left : 20px;
        background-position: 0px -24px;
    }
}
.scroll_bar--right {
    right : 0;
    div {
        right : 20px;
        background-position: 0px -56px;
    }
}

slide-box {
    @include box;
    position: relative;
    width: 1100px;
    height : 700px;
    top : 50%;
    transform : translateX(-50%) translateY(-50%);
    left : 50%;
    padding : 40px;
}
.fullscreen {
    background-color : black !important;
}
.fullscreen header {
    display : none;
}
.fullscreen slide-box  {
    padding : 0px;
}
.fullscreen content {
    padding-top: 0;
    transition : none;
}

.r2 {
    left : 150%;
    transform : translateX(-50%) translateY(-150%);
}
.r3 {
    left : 250%;
    transform : translateX(-50%) translateY(-250%);
}
slide {
    @include box;
    //font-size: 200px;
    height: 100%;
    width: 100%;
    background-color: white;
    padding: 10px;
    display: block;
}